<script>
  const { contracts } =
  {{{json this}}}; console.log(contracts);
</script>

<div class="row">
  <div class="col-6">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Contracts Explorer</li>
      </ol>
    </nav>
  </div>
</div>

<div class="accordion" id="accordion">
  {{#each contracts}}
    {{#if this.events.length}}
      <div class="accordion-item">
        <h3 class="accordion-header" id="{{@key}}-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#{{@key}}-body"
            aria-expanded="true"
            aria-controls="accordion"
          >
            <span class="badge bg-success">{{this.events.length}}</span>
            &nbsp;{{@key}}
          </button>
        </h3>
        <div
          id="{{@key}}-body"
          class="accordion-collapse collapse show"
          aria-labelledby="#{{@key}}-header"
        >
          <div class="accordion-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Consumer Paths</th>
                  <th scope="col">Payload</th>
                </tr>
              </thead>
              <tbody>
                {{#each events}}
                  <tr>
                    <td id="{{this.name}}"><b>{{this.name}}</b></td>
                    <td><span>{{this.description}}</span></td>
                    <td>
                        {{#each this.refs}}
                          <div class="path">{{this}}</div>
                        {{/each}}
                    </td>
                    <td id="{{this.name}}-payload" scope="row">
                      {{> schema field=this.properties.data name="" }}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>
