<div class="row">
  <div class="col-6">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{events.length}} Contracts</li>
      </ol>
    </nav>
  </div>
</div>

<table id="events-table" class="table sorted-table">
  <thead>
    <tr>
      <th scope="col" class="text-end">#</th>
      <th scope="col">Contract</th>
      <th scope="col">Producer</th>
      <th scope="col">Consumer</th>
    </tr>
  </thead>
  <tbody>
    {{#each events}}
      <tr>
        <td class="text-end">{{inc @index}}</td>
        <td>
          <a
            id="{{this.name}}"
            href="#"
            data-bs-toggle="popover"
            data-bs-placement="right"
          >
            {{this.name}}
          </a>
          {{#if (and this.conflicts this.conflicts.length)}}
            <div class="conflicts">
              <ul>
                {{#each this.conflicts}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        </td>
        <td>
          {{#each this.producers}}
            <div class="producer-contract">{{this}}</div>
          {{/each}}
        </td>
        <td>
          {{#each this.consumers}}
            <div class="consumer-contract">{{this.id}}
              <i>{{this.path}}</i></div>
          {{/each}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div hidden>
{{#each events}}
  <div id="{{this.name}}-payload">
    <div class="description-contract">{{this.schemas.0.description}}</div>
    {{#if this.schema.properties.data}}
    {{> schema field=this.schema.properties.data name="" }}
    {{else}}
    Empty
    {{/if}}
  </div>
{{/each}}
</div>

<script type="module" src="/public/js/contracts.js"></script>