<script>
  const { events } =
  {{{json this}}}; console.log(events);
</script>

<div class="row">
  <div class="col-6">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Contracts Explorer</li>
      </ol>
    </nav>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Producer</th>
      <th scope="col">Consumer</th>
    </tr>
  </thead>
  <tbody>
    {{#each events}}
      <tr>
        <td id="{{this.name}}">
          <a data-bs-toggle="collapse" href="#{{this.name}}-payload" role="button" aria-expanded="false" aria-controls="{{this.name}}-payload">
          {{this.name}}
          </a>
          <div class="description-contract">{{this.schemas.[0].description}}</div>
          {{#if (and this.conflicts this.conflicts.length)}}
            <div class="conflicts">
              <ul>
              {{#each this.conflicts}}
                <li>{{this}}</li>
              {{/each}}
              </ul>
            </div>
          {{/if}}
          <div class="collapse" id="{{this.name}}-payload">
            {{> schema field=this.schemas.[0].properties.data name="" }}
          </div>
        </td>
        <td>
            {{#each this.producers}}
              <div class="producer-contract">{{this}}</div>
            {{/each}}
        </td>
        <td>
            {{#each this.consumers}}
              <div class="consumer-contract">{{this.id}} <i>{{this.path}}</i></div>
            {{/each}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
