<script>
  const state = true; console.log(state);
</script>
<div class="row">
  <div class="col-6">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Contracts Explorer</li>
      </ol>
    </nav>
  </div>
</div>

{{#each contracts}}
  <h3>{{@key}}</h3>
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Payload</th>
      </tr>
    </thead>
    <tbody>
      {{#each events}}
        <tr>
          <td id="{{this.name}}">{{this.name}}</td>
          <td>{{this.description}}</td>
          <td id="{{this.name}}-payload" scope="row">
            <table>
              {{#each this.properties}}
                <tr><td>{{@key}}</td><td>{{this.type}}</td></tr>
              {{/each}}
            </table>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/each}}