<div class="row mb-2">
  <div class="col-6">{{>service-bc crumb=this.correlation_id}}</div>
</div>

<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col">Created</th>
      <th scope="col">Causation</th>
      <th scope="col">Event</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.correlation}}
      {{#if this.stream}}
        <tr>
          <td>{{dateFormat this.created}}</td>
          <td scope="row">
            {{#if this.causation}}
              <table>
                <tr>
                  <td class="{{this.causation.type}}-type">
                    <span>{{this.causation.name}}
                    {{#if (and this.causation.id this.causation.producer)}}
                    [<a href="/_services/{{this.causation.producer}}/events/{{this.causation.id}}">{{this.causation.id}}</a>]
                    {{else if this.causation.id}}
                    [{{this.causation.id}}]
                    {{/if}}
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>
                    {{#if this.causation.producer}}
                    <i><a href="/_services/{{this.causation.producer}}/stream/{{this.causation.stream}}">{{this.causation.producer}}/{{this.causation.stream}}</a></i>
                    {{else}}
                    <i>{{this.causation.stream}}</i>
                    {{/if}}
                    <b>{{this.causation.actor}}</b>
                  </td>
                </tr>
              </table>
            {{/if}}
          </td>
          <td scope="row">
            <table>
              <tr>
                <td class="event-type">
                  <span>{{this.name}}
                  [<a href="/_services/{{this.service}}/events/{{this.id}}">{{this.id}}</a>]
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <i><a href="/_services/{{this.service}}/stream/{{this.stream}}">{{this.service}}/{{this.stream}}</a></i>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>