<div class="row mb-2">
  <div class="col-6">{{>service-bc}}</div>
  {{#if isAdmin}}
  <div class="col-6 d-flex justify-content-end">
    <div class="col mx-2">
      <input
        id="deleteId"
        type="text"
        class="form-control"
        placeholder="{{this.id}}"
        name="deleteId"
        required
      />
    </div>
    <a id="deleteButton" href="#" type="button" class="btn btn-danger align-self-center disabled">
      <i class="bi bi-trash"></i></i>
    </a>
  </div>
  {{/if}}
</div>

{{> alert}}

<form class="row my-3" method="post" action="/_services/{{this.id}}">
  {{> service-form edit=isAdmin}}
</form>

{{#if this.discovered}}
<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col">Command Handler</th>
      <th scope="col">Path</th>
      <th scope="col">Type</th>
      <th scope="row">Events</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.commandHandlers}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.path}}</td>
        <td>{{this.type}}</td>
        <td>
          <table>
            {{#each this.events}}
            <tr><td>{{this}}</td></tr>
            {{/each}}
          </table>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col">Event Handler</th>
      <th scope="col">Path</th>
      <th scope="col">Type</th>
      <th scope="row">Events</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.eventHandlers}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.path}}</td>
        <td>{{this.type}}</td>
        <td>
          <table>
            {{#each this.events}}
            <tr><td>{{this}}</td></tr>
            {{/each}}
          </table>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<table class="table align-middle">
  <thead>
    <tr>
      <th scope="row">Message</th>
      <th scope="col">JSON</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.schemas}}
      <tr>
        <td>{{> schema item=this presence="optional"}}</td>
        <td><small>{{{json this}}}</small></td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}

<script>
  const { isAdmin } = {{{json this}}};
  if(isAdmin) {
    const delId = document.getElementById("deleteId");
    const delBtn = document.getElementById("deleteButton");
    delId.onkeyup = (ev) => {
      const enable = delId.value === '{{this.id}}';
      enable 
        ? delBtn.classList.remove("disabled")
        : delBtn.classList.add("disabled")
    }
    delBtn.onclick = () => {
      fetch("/_services/{{this.id}}", { method: "delete" })
        .then(response => response.json())
        .then(json => {
          if(json.deleted) document.location = "/_services";
          else {
            delId.value = "";
            alert(json.message);
          }
        })
        .catch((error)=> {
          delId.value = "";
          alert(json.message);
        })
    }
  }
</script>
