<div class="row mb-2">
  <small class="foot-note">{{endpoint}}</small>
  <div class="col-6">{{>subscription-bc}}</div>
  {{#if isAdmin}}
  <div class="col-6 d-flex justify-content-end">
    <div class="col mx-2">
      <input
        id="deleteId"
        type="text"
        class="form-control"
        placeholder="{{this.id}}"
        name="deleteId"
        required
      />
    </div>
    <a id="deleteButton" href="#" type="button" class="btn btn-danger align-self-center disabled">
      <i class="bi bi-trash"></i></i>
    </a>
  </div>
  {{/if}}
</div>

<div class="row">
  <div class="col-4 form-floating">
    <input
      type="text"
      class="form-control"
      id="floatingStatus"
      placeholder="Status"
      name="status"
      value="{{this.channelStatus}}"
      readonly
    />
    <label class="px-4" for="floatingStatus">Status</label>
  </div>
  <div class="col-4 form-floating">
    <input
      type="text"
      class="form-control"
      id="floatingPosition"
      placeholder="Position"
      name="position"
      value="{{this.position}}"
      readonly
    />
    <label class="px-4" for="floatingPosition">Position</label>
  </div>
  <div class="col-4 form-floating">
    <input
      type="text"
      class="form-control"
      id="floatingChannelPosition"
      placeholder="Channel"
      name="channelPosition"
      value="{{this.channelPosition}}"
      readonly
    />
    <label class="px-4" for="floatingChannelPosition">Stream</label>
  </div>
</div>

<div id="stats" class="mx-1 my-3">
</div>

{{> alert}}

<form class="row my-3" method="post" action="/{{this.id}}">
  {{> subscription-form edit=isAdmin}}
</form>

<div id="__state__" hidden>{{{json this}}}</hidden>
<script type="module" src="/_public/js/edit-subscription.js"></script>