<div class="row mb-2">
  <div class="col-6">{{>service-bc}}</div>
</div>

<div class="event-filters">
  {{!-- <div class="input-group input-group-sm">
    <span class="input-group-text">&gt;</span>
    <input
      class="form-control form-control-sm"
      type="number"
      title="After Id"
      placeholder="Id"
      id="after"
      value="{{this.query.after}}"
    />
  </div> --}}
  <div class="input-group input-group-sm">
    <input
      class="form-control form-control-sm"
      type="text"
      title="Names"
      placeholder="Names"
      id="names"
      value="{{this.query.names}}"
    />
  </div>
  <div class="input-group input-group-sm">
    <input
      class="form-control form-control-sm"
      type="text"
      title="Stream"
      placeholder="Stream"
      id="stream"
      value="{{this.query.stream}}"
    />
  </div>
  <div class="input-group input-group-sm" >
    <span class="input-group-text">
      <i class="bi bi-arrow-bar-up"></i>
    </span>
    <input
      class="form-control form-control-sm"
      type="datetime-local"
      title="Created After"
      id="created_after"
      value="{{fromISOToLocal this.query.created_after}}"
    />
  </div>
  <div class="input-group input-group-sm">
    <span class="input-group-text">
      <i class="bi bi-arrow-bar-down"></i>
    </span>
    <input
      class="form-control form-control-sm"
      type="datetime-local"
      title="Created Before"
      id="created_before"
      value="{{fromISOToLocal this.query.created_before}}"
    />
  </div>
  <button id="nextButton" class="btn btn-primary" title="Next Page">
    <i class="bi bi-arrow-bar-down"></i>
  </button>
  <button id="queryButton" class="btn btn-primary" title="Query">
    <i class="bi bi-search"></i></i>
  </button>
</div>

<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col" class="text-end" colspan="2">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Stream</th>
      <th scope="col" class="text-end">Version</th>
      <th scope="col">Correlation</th>
      <th scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
    {{#each stream}}
      <tr>
        <td>
          <a id="{{@index}}" href="#" data-bs-toggle="popover" data-bs-placement="right">
            <img src="/_public/assets/eye.svg" alt="View" width="12" height="12" />
          </a>
        </td>
        <td class="text-end"><a href="/_services/{{../id}}/events/{{this.id}}">{{this.id}}</a></td>
        <td>  
          {{this.name}}
        </td>
        <td><a href="/_services/{{../id}}/stream/{{this.stream}}">{{this.stream}}</a></td>
        <td class="text-end">{{this.version}}</td>
        <td>
          <a href="/_correlation/{{this.metadata.correlation}}">
            {{this.metadata.correlation}}
          </a>
        <td>{{toDateFormat this.created}}</td>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div id="__state__" hidden>{{{json this}}}</hidden>
<script type="module" src="/_public/js/events.js"></script>