<div class="row">
  <div class="col-6 d-flex">
    <a href="/add" type="button" class="btn btn-primary align-self-center"><i
        class="bi bi-plus"
      ></i>
      Add</a>
  </div>
</div>

<table class="table align-middle">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Id</th>
      <th scope="col">Channel</th>
      <th scope="col">Endpoint</th>
      <th scope="col">Streams</th>
      <th scope="col">Names</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr class="{{#unless this.active}}table-secondary{{/unless}}">
        <td id="status-{{this.id}}"></td>
        <td scope="row">
          <a href="/edit/{{this.id}}">{{this.id}}</a>
        </td>
        <td>{{this.channel}}</td>
        <td>{{this.endpoint}}</td>
        <td>{{this.streams}}</td>
        <td>{{this.names}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script>
  const es = new EventSource("/monitor");

  const refresh = (state) => {
    const { id, color, icon, position } = state;
    const statusTd = document.getElementById(`status-${id}`);
    statusTd && (statusTd.innerHTML=`
      <span class="text-${color}">
        <i class="bi ${icon}"></i>
      </span>
      <span class="stat">${position}</span>
    `);
  };

  es.onmessage = ({ data }) => {
    const props = JSON.parse(data);
    refresh(props);
  };

  es.onerror = (error) => {
    console.error(error);
  };

  const { rows } = {{{json this}}};
  rows.map(row => refresh(row));
</script>