<div class="row">
  <div class="col-6 d-flex">
    <a href="/add" type="button" class="btn btn-primary align-self-center"><i
        class="bi bi-plus"
      ></i>
      Add</a>
  </div>
</div>

<table class="table align-middle">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Id</th>
      <th scope="col">Channel</th>
      <th scope="col">Endpoint</th>
      <th scope="col">Streams</th>
      <th scope="col">Names</th>
      <th scope="col" class="text-center">Status</th>
      <th scope="col" class="text-end">Position</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr class="{{#unless this.active}}table-secondary{{/unless}}">
        <th>
          {{#if this.active}}
            <a
              href="/toggle/{{this.id}}"
              title="Stop"
              type="button"
              class="btn btn-sm"
            ><i class="bi bi-stop-circle-fill text-danger"></i></a>
          {{else}}
            <a
              href="/toggle/{{this.id}}"
              title="Start"
              type="button"
              class="btn btn-sm"
            ><i class="bi bi-play-circle-fill text-success"></i></a>
          {{/if}}
        </th>
        <th scope="row">
          <a href="/edit/{{this.id}}">{{this.id}}</a>
        </th>
        <td>{{this.channel}}</td>
        <td>{{this.endpoint}}</td>
        <td>{{this.streams}}</td>
        <td>{{this.names}}</td>
        <td id="status-{{this.id}}" class="text-center">
          <span class="text-{{this.color}}">
            <i class="bi {{this.icon}}"></i> {{this.status}}
            <br/> {{this.error}}
          </span>
        </td>
        <td id="position-{{this.id}}" class="text-end">
          <span class="text-{{this.color}}">
            {{this.position}}/<b>{{this.maxTriggerPosition}}</b>
          </span>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script>
  const es = new EventSource("/monitor");
  es.onmessage = ({ data }) => {
    const { id, color, icon, status, error, position, maxTriggerPosition } = JSON.parse(data);
    const statusTd = document.getElementById(`status-${id}`);
    const positionTd = document.getElementById(`position-${id}`);
    statusTd && (statusTd.innerHTML=`
      <span class="text-${color}">
        <i class="bi ${icon}"></i> ${status}
        <br/> ${error}
      </span>
    `);
    positionTd && (positionTd.innerHTML=`
      <span class="text-${color}">
        ${position}/<b>${maxTriggerPosition}</b>
      </span>
    `);
  };
  es.onerror = (error) => {
    console.error(error);
  };
</script>