<div class="row mb-2">
  <div class="col-6">{{>subscription-bc crumb='Services'}}</div>
  <div class="col-6 d-flex justify-content-end">
    {{#if isAdmin}}
    <a href="/_services/_add" type="button" class="btn btn-primary align-self-center"><i
        class="bi bi-plus"
      ></i>
      Add</a>
      {{/if}}
  </div>
</div>

<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col" class="text-end">#</th>
      <th scope="col">Id</th>
      <th scope="col">Channel</th>
      <th scope="col">Url</th>
      <th scope="col" class="text-end">Position</th>
      <th scope="col" class="text-end">Updated</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr>
        <td class="text-end">{{inc @index}}</td>
        <td scope="row">
          <a href="/_services/{{this.id}}">{{this.id}}</a>
          {{#if this.sll}}
            <a href="{{this.sll}}" target="_blank" rel="noopener noreferrer"><img src="/_public/assets/external-link.svg"
            alt="Logs"
            width="12"
            height="12" /></a>
          {{/if}}
        </td>
        <td>{{this.channel}}</td>
        <td><a href="{{this.url}}">{{this.url}}</a></td>
        <td class="text-end">{{intFormat this.position}}</td>
        <td class="text-end">{{dateFormat this.updated}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>