<div class="row">
  <div class="col-6">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Subscriptions</li>
      </ol>
    </nav>
  </div>
  <div class="col-6 d-flex justify-content-end">
    {{#if isAdmin}}
    <a href="/_add" type="button" class="btn btn-primary align-self-center"><i
        class="bi bi-plus"
      ></i>
      Add</a>
    {{/if}}
  </div>
</div>

<table id="subscriptions-table" class="table align-middle">
  <thead>
    <tr>
      <th scope="col"><a href="javascript:sort(0)">Id</a></th>
      <th><a href="javascript:sort(1)">Status</a></th>
      <th><a href="javascript:sort(2)">Session</a></th>
      <th scope="col"><a href="javascript:sort(3)">Producer</a></th>
      <th scope="col"><a href="javascript:sort(4)">Consumer</a></th>
      <th scope="col"><a href="javascript:sort(5)">Path</a></th>
      <th scope="col"><a href="javascript:sort(6)">Streams</a></th>
      <th scope="col"><a href="javascript:sort(7)">Names</a></th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr class="{{#unless this.active}}table-secondary{{/unless}}">
        <td scope="row">
          <a href="/{{this.id}}">{{this.id}}</a>
        </td>
        <td id="status-{{this.id}}"></td>
        <td id="session-{{this.id}}"></td>
        <td>
          <a href="/_services/{{this.producer}}">{{this.producer}}</a>
          {{#if this.pll}}
            <a href="{{this.pll}}" target="_blank" rel="noopener noreferrer"><img src="/_public/assets/external-link.svg"
            alt="Logs"
            width="12"
            height="12" /></a>
          {{/if}}
        </td>
        <td>
          <a href="/_services/{{this.consumer}}">{{this.consumer}}</a>
          {{#if this.cll}}
            <a href="{{this.cll}}" target="_blank" rel="noopener noreferrer"><img src="/_public/assets/external-link.svg"
            alt="Logs"
            width="12"
            height="12" /></a>
          {{/if}}
        </td>
        <td>{{this.path}}</td>
        <td>{{this.streams}}</td>
        <td>{{this.names}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script>
  let sortCol = -1, sortOrder = 0;
  const sort = (col) => {
    const table = document.getElementById("subscriptions-table");
    sortCol >= 0 && table.rows[0].cells[sortCol].classList.remove("sorted-asc", "sorted-desc");
    sortOrder = sortCol === col ? 1 - sortOrder : 0;
    sortCol = col;
    table.rows[0].cells[col].classList.add(sortOrder ? "sorted-desc" : "sorted-asc");

    while (true) {
      let swap = false;
      for (i = 1; i < rows.length; i++) {
        const v1 = table.rows[i].cells[col].innerHTML;
        const v2 = table.rows[i+1].cells[col].innerHTML;
        if (v1 == v2) continue;
        swap = Boolean(+(v1 > v2) - sortOrder);
        if (swap) break;
      }
      if (swap)
        table.rows[i].parentNode.insertBefore(table.rows[i+1], table.rows[i]);
      else
        break;
    }
  }

  const badge = (count, cls) => 
    count > 0 ? `<span class="${cls}">${count}</span>` : "";

  const refresh = (state) => {
    const { id, position, channelPosition, endpointStatus, total, events } = state;

    const statusTd = document.getElementById(`status-${id}`);
    statusTd && (statusTd.innerHTML=`
      <div class="counters text-${endpointStatus.color}">
        <i class="bi ${endpointStatus.icon}"></i>&nbsp;
        ${position < channelPosition 
          ? `<b style='color:silver'>${position}</b><b>/${channelPosition}</b>` 
          : `<b>${position}</b>`}
      </div>`
    );

    const a = events.reduce((a,e) => {
      a.ok += e.ok ? e.ok.count : 0;
      a.ignored += e.ignored ? e.ignored.count : 0;
      a.retryable += e.retryable ? e.retryable.count : 0;
      a.critical += e.critical ? e.critical.count : 0;
      return a;
    }, { ok:0, ignored:0, retryable:0, critical:0 });

    const sessionTd = document.getElementById(`session-${id}`);
    sessionTd && (sessionTd.innerHTML = `
      <div class="counters">
        ${badge(a.ok, "ok")}
        ${badge(a.ignored, "ignored")}
        ${badge(a.retryable, "retryable")}
        ${badge(a.critical, "critical")}
      </div>`
    );
  };

  const connect = () => {
    const es = new EventSource("/_monitor-all");
    es.onmessage = ({ data }) => {
      const props = JSON.parse(data);
      refresh(props);
    };
    es.onerror = (error) => {
      console.error("sse error... retrying...");
    };
  }

  const { rows } = {{{json this}}};
  rows.map(row => refresh(row));
  connect();
</script>