{{#if (eq field.type "object")}}  
    {{#if name}}
        <span class="{{required}}">{{name}}</span>
    {{/if}}
    <span>&lbrace;</span>
    <div class="indent">
        {{#each field.properties}}
            {{#if (includes ../field.required @key) }}
                {{> schema name=@key field=this required="required" }}
            {{else}}
                {{> schema name=@key field=this }}
            {{/if}}
        {{/each}}
    </div>
    <span>&rbrace;</span>
{{else if (eq field.type "array")}}
    <span class="{{required}}">{{name}}</span>
    <span>&lbrack;</span>
    <div class="indent">
        {{> schema field=field.items name="" }}
    </div>
    <span>&rbrack;</span>
{{else}}
<div>
    <span class="{{required}}">{{name}}</span>
    <span class="type">{{field.type}}</span>
    {{#if field.format}}
        <span class="format">{{field.format}}</span>
    {{/if}}
    {{#if field.enum}}
        <div class="rules">
        {{{json field.enum}}}
        </div>
    {{/if}}
</div>
{{/if}}