{{#if edit}}
  <input name="id" type="text" value="{{id}}" hidden />
  <input name="channel" type="text" value="{{channel}}" hidden />
{{else}}
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingId"
      placeholder="Id"
      name="id"
      value="{{id}}"
      required
    />
    <label class="px-4" for="floatingId">Id</label>
  </div>

  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingChannel"
      placeholder="Channel"
      name="channel"
      value="{{channel}}"
      required
    />
    <label class="px-4" for="floatingChannel">Channel</label>
  </div>
{{/if}}

<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingEndpoint"
    placeholder="Endpoint"
    name="endpoint"
    value="{{endpoint}}"
    required
  />
  <label class="px-4" for="floatingEndpoint">Endpoint</label>
</div>

<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingStreams"
    placeholder="Streams"
    name="streams"
    value="{{streams}}"
    required
  />
  <label class="px-4" for="floatingStreams">Streams</label>
</div>

<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingNames"
    placeholder="Names"
    name="names"
    value="{{names}}"
    required
  />
  <label class="px-4" for="floatingNames">Names</label>
</div>

<div class="mb-3">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>