{{#if edit}}
  <input name="id" type="text" value="{{id}}" hidden />
{{else}}
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingId"
      placeholder="Id"
      name="id"
      value="{{id}}"
      required
      {{#if isAdmin}}{{else}}disabled{{/if}}
    />
    <label class="px-4" for="floatingId">Id</label>
  </div>
{{/if}}

<div class="col-6 form-floating mb-3">
  <select
    class="form-control"
    id="floatingProducer"
    placeholder="Producer"
    name="producer"
    {{#if isAdmin}}{{else}}disabled{{/if}}
  >
    <option value="{{producer}}" selected>{{producer}}</option>
    {{#each services}}
      <option value="{{this.id}}">{{this.id}}</option>
    {{/each}}
  </select>
  <label class="px-4" for="floatingProducer">Producer</label>
</div>

<div class="col-6 form-floating mb-3">
  <select
    class="form-control"
    id="floatingConsumer"
    placeholder="Consumer"
    name="consumer"
    {{#if isAdmin}}{{else}}disabled{{/if}}
  >
    <option value="{{consumer}}" selected>{{consumer}}</option>
    {{#each services}}
      <option value="{{this.id}}">{{this.id}}</option>
    {{/each}}
  </select>
  <label class="px-4" for="floatingConsumer">Consumer</label>
</div>

<div class="col-6 form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingPath"
    placeholder="Path"
    name="path"
    value="{{path}}"
    required
    {{#if isAdmin}}{{else}}disabled{{/if}}
  />
  <label class="px-4" for="floatingPath">Path</label>
</div>

<div class="col-6 form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingStreams"
    placeholder="Streams"
    name="streams"
    value="{{streams}}"
    required
    {{#if isAdmin}}{{else}}disabled{{/if}}
  />
  <label class="px-4" for="floatingStreams">Streams</label>
</div>

<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingNames"
    placeholder="Names"
    name="names"
    value="{{names}}"
    required
    {{#if isAdmin}}{{else}}disabled{{/if}}
  />
  <label class="px-4" for="floatingNames">Names</label>
</div>

<div class="col-4 form-floating mb-3">
  <input
    type="number"
    class="form-control"
    id="batchSize"
    placeholder="batchSize"
    name="batch_size"
    value="{{batch_size}}"
    required
    {{#if isAdmin}}{{else}}disabled{{/if}}
  />
  <label class="px-4" for="batchSize">Batch Size</label>
</div>

<div class="col-4 form-floating mb-3">
  <input
    type="number"
    class="form-control"
    id="retries"
    placeholder="retries"
    name="retries"
    value="{{retries}}"
    required
    {{#if isAdmin}}{{else}}disabled{{/if}}
  />
  <label class="px-4" for="retries">Retries</label>
</div>

<div class="col-4 form-floating mb-3">
  <input
    type="number"
    class="form-control"
    id="retryTimeout"
    placeholder="retryTimeout"
    name="retry_timeout_secs"
    value="{{retry_timeout_secs}}"
    required
    {{#if isAdmin}}{{else}}disabled{{/if}}
  />
  <label class="px-4" for="retryTimeout">Retry Timeout (Secs)</label>
</div>

{{#if isAdmin}}
  <div class="mb-3">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
{{/if}}