<div class="border rounded m-3 p-3 bg-light">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="number">Room Number</label>
      <select class="form-control" id="number">
        <option>101</option>
        <option>102</option>
        <option>103</option>
        <option>104</option>
        <option>105</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="id">Reservation Id</label>
      <input
        type="text"
        class="form-control"
        id="id"
        placeholder="Reservation Id"
      />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="checkin">Check-In Date</label>
      <input type="date" class="form-control" id="checkin" placeholder="Checkin" />
    </div>
    <div class="form-group col-md-4">
      <label for="checkout">Check-Out Date</label>  
      <input
        type="date"
        class="form-control"
        id="checkout"
        placeholder="Checkout"
      />
    </div>  
    <div class="form-group col-md-4">
      <button class="btn btn-primary" id="book">Book it</button>
    </div>
  </div>
</div>

<div class="border rounded bg-dark m-3 p-3">
  <div class="row">
    <div class="text-light col-md-6">
      <h3>Tomorrow's Sales:</h3><b id="sales">${{this.tomorrow.total}}</b>
    </div>
    <div class="text-white-50 col-md-6">
      <h4>Rooms:</h4><b id="rooms">{{this.tomorrow.reserved}}</b>
    </div>
  </div>
</div>

<div class="border rounded m-3 p-3">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">Room Number</th>
        <th scope="col">Room Type</th>
        <th scope="col" class="text-end">Price</th>
        <th scope="col" class="text-end">Days Reserved</th>
      </tr>
    </thead>
    <tbody>
      {{#each rooms}}
        <tr>
          <td>{{this.number}}</td>
          <td>{{this.type}}</td>
          <td class="text-end">${{this.price}}</td>
          <td id="reserved_{{this.number}}" class="text-end">{{this.reserved}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () { 
    const bookBtn = document.getElementById("book");
    const numberInput = document.getElementById("number");
    const idInput = document.getElementById("id");
    const checkinInput = document.getElementById("checkin");
    const checkoutInput = document.getElementById("checkout");

    bookBtn.onclick = () => {
      const body = {
        id: idInput.value,
        number: +numberInput.value,
        checkin: checkinInput.value,
        checkout: checkoutInput.value,
        totalPrice: 0
      };
      fetch(`/room/${numberInput.value}/book-room`, {
        method: "post",
        body: JSON.stringify(body),
        headers: { 'Content-type': 'application/json;charset=UTF-8' }
      })
      .then((response) => response.json())
      .then((json) => { alert(JSON.stringify(json)); })
      .catch((error) => { alert(JSON.stringify(error)); })
    };
  });

  const es = new EventSource("/monitor");
  es.addEventListener("monitor", ({ data }) => {
    const state = JSON.parse(data);
    console.log(state);

    const sales = document.getElementById("sales");
    sales.innerText = "$" + state.tomorrow.total;
    const rooms = document.getElementById("rooms");
    rooms.innerText = state.tomorrow.reserved;

    for(let room of state.rooms) {
      const el = document.getElementById("reserved_" + room.number);
      el.innerText = "$" + room.reserved;
    }
  });
</script>